---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aviso de privacidad">
  <div class="px-28">
    <div class="bg-white flex flex-col p-8 gap-8">
      <p class="text-gray-600">
        La información contenida en esta comunicación es enviada únicamente para
        el uso de la persona o entidad a quien está dirigida y de cualquier otra
        persona que esté autorizada para recibirla. Puede contener información
        confidencial o legalmente privilegiada.
      </p>
      <p class="text-gray-600">
        Si usted no es el destinatario, queda en este acto notificado que, en
        caso de cualquier divulgación, reproducción, distribución o cualquier
        acción con relación al contenido de esta información, se encuentra
        estrictamente prohibido y podría ser ilegal. Si usted ha recibido esta
        comunicación por error, por favor notifíquenoslo inmediatamente
        respondiendo a este correo electrónico y después bórrelo de su sistema.
      </p>
      <p class="text-gray-600">
        Niuko Consultores, SC (“NIUKO”) no es responsable por la correcta y
        completa transmisión de la información contenida en esta comunicación, y
        tampoco por cualquier retraso en su recepción.
      </p>
      <p class="text-gray-600">
        NIUKO no emite opiniones formales por medios electrónicos, por lo que
        NIUKO no asume cualquier responsabilidad civil por las opiniones o
        recomendaciones expresadas por medios electrónicos. Si usted desea
        asesoría formal agradeceremos ponerse en contacto con algún socio de
        NIUKO para tales efectos.
      </p>
      <p class="text-gray-600">
        NIUKO protege y salvaguarda sus datos personales para evitar el daño,
        pérdida, destrucción, robo, extravío, alteración, así como el
        tratamiento no autorizado de sus datos personales. Nota: Los acentos y
        caracteres especiales pudieran haber sido omitidos para su correcta
        lectura en cualquier medio electrónico.
      </p>
      <p class="text-gray-600">
        This e-mail is confidential and/or may contain privileged information.
        If you are not the addressee or authorized to receive this for the
        addressee, you must not use, copy, disclose, or take any action based on
        this message or any other information herein, please advise the sender
        immediately by reply this e-mail and delete this e-mail and its
        attachments
      </p>
    </div>
  </div>
</Layout>

<style></style>
